@{
	Layout = null;
}

<div class="d-flex justify-content-center">
	<h1>Ambiguous While Resolving your Request!</h1>

	<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
</div>