@{
	Layout = null;
}

<div class="d-flex justify-content-center">
	<h1>Internal Server Error</h1>

	<h3>Context the site admin for that</h3>
	<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
</div>